# Docker Network
DOCKER_NETWORK_NAME=

# PostgreSQL Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# Backend Configuration
BACKEND_PORT=
BACKEND_LOG_LEVEL=
BACKEND_DB_CONNECTION=
DATABASE_URL=
BACKEND_JWT_SECRET=
BACKEND_PINECONE_API_KEY=
BACKEND_PINECONE_INDEX_NAME=
BACKEND_OPENAI_API_KEY=
BACKEND_OPENAI_ORG_ID=
BACKEND_OPENAI_COMPLETION_MODEL=
BACKEND_OPENAI_CHAT_MODEL=
BACKEND_OPENAI_EMBEDDING_MODEL=
BACKEND_OPENAI_EMBEDDING_DIMENSIONS=

# Frontend Configuration
FRONTEND_PORT=
FRONTEND_URL=
VITE_API_URL=
FRONTEND_API_URL=
